@import './grid';
.app-bar{
  background-color: #3f51b5;
  color : #fff;
}

.linkbar{
  float: right;
  button{color : #fff;}
  .link{text-decoration: none;}
}
ul{
  list-style-type: none;
  text-align: left;

  @include desktop{
    height : 50px;
    overflow: auto;
  }
  li {

  }
}
